*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    background-color: #a9aaac;
    color : #fff;
    max-width: 1500px;
}

header{
    position: relative;
    min-width: 100%; 
    width: 100%;  
    display: flex;  
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
    
}

.logo{
    margin-left: 50px;
}

.cont-ul{
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}

li{
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0;
}

li:hover{
    background-color: #008849;
}

.ul-second{
    position: absolute;
    display: none;
    transform: translateY(20px);
    
}

.ul-second > li{
    text-align: center;
    background-color: #24252A;
    padding: 20px;
    border-bottom: solid 1px #fff;
    width: 190px;
    transform: translateX(-20px);
    padding: 20px;
}

.ul-second > li:hover{
    background-color: #008849;
    
}

.develop:hover > .ul-second{
    display: block;
    
}

a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

p{
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    
}
video{
    height: 450;
    width: 450;
    float: left;
}
