body{
    background-color : #345433;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
}
.navegacion{
    width: 1000px;
    margin : 30px auto;
    background: #fff;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open san';
    text-decoration: none;
}

.navegacion ul{
    list-style: none;
}

.menu li a :hover{
    color : #cd7e35;
    transition: all, 3s;
}

.submenu{
    position: absolute;
    background: #333333;   
    width: 120%;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color : #fff;
    font-family: 'Open san';
    text-decoration: none;
}

.submenu li a :hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;
}